/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #000;
}

.main {
  padding: 20px;
  background-color: #CDCDCD;
}

h2{
  color: #fff;
  margin-left: 22px;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="search"] {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #D9D9D9;
  outline-style: none;
}

input::placeholder {
  color: #000;
  font-size: 16px;
  margin-left: 40px;
}

/* Buttons */
.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 250px;
  height: 40px;
  font-size: 16px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

table th {
  font-weight: 500;
  color: #000;
  font-size: 18px;
}

table td img {
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid black;
}
