body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Set a default font */
  background-color: #f4f4f4; /* Light background color */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3f51b5; /* Darker header background */
  color: white; /* White text for contrast */
  padding: 1.5rem; /* Padding for header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

h1 {
  margin-bottom: 1rem; /* Space below the heading */
}

.data-actions {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.5rem;
  width: 20rem;
  border: 1px solid #ccc; /* Light border for input */
  border-radius: 5px; /* Rounded corners */
  transition: border-color 0.3s; /* Smooth transition */
}

input:focus {
  border-color: #3f51b5; /* Border color on focus */
  outline: none; /* Remove default outline */
}

button {
  border: none;
  width: fit-content;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.gallery {
  border: 1px solid #ccc;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
}
