*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#main{
    display: flex;
}
.sidebar{
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
   font-size: 18px;
   padding-left: 20px;
   border-right: 1px solid grey;
}
.sidebar>img{
    width: 113px;
    height: 49px;
    font-weight: bold;
    margin-top: 20px;
}

.sidebar>ul{
    list-style: none;
    padding: 0px 2.36px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0px;
    margin-top: 25px;
}
.sidebar>ul>li{
    padding: 10px 20px;
    display: flex;
    align-items: center;


}
.sidebar>ul>li>img{
    padding-right: 16px;
}


#main-scrollable-container{
  width: 80%;
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll ;
  display: flex;
}


::-webkit-scrollbar{
    display: none;
}

.story_post{
    width: 65%;
}

#stories-section{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.story{
    margin: 10px;
}

.story>img{
  padding: 20px;
  text-align: center;
  width: 56px;
  height: 56px;
  background-color: aqua;
}

.story img{
    border-radius: 50%;
    border:2px solid rgb(185, 18, 110)
}

.post-section{
    width: 40%;
    margin: auto;
}

.profile{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.profile>div{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 8px;
}

.profile>div>img:nth-child(1){
    border-radius: 50%;
    border: 3px solid rgb(233, 131, 84);
}

span{
    font-weight: bold;
    color: rgb(107, 106, 106);
}

.profile>div:nth-child(2){
    padding-bottom: 20px;
    font-size: 30px;
    width: 5%;
}

.post img{
    width: 100%;
    height:100%;
}

.like-comment{
    display: flex;
    justify-content: space-between;

}
.like-comment>div>img{
    padding-left: 10px;
}



.cards{
    width: 40%;
    margin: auto;
    overflow-x: scroll;
    display: flex;
    gap: 5px;

}
.card{
    margin: 30px 0;
    min-width:120px;
    height: 150px;
  border: 1px solid rgba(128, 128, 128, 0.76);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;

}
button{
    font-weight: 500;
    border-radius: 20px;
    background-color: rgb(38, 80, 221);
    padding: 5px 10px;
    color: white;
    border: none;
    margin-top: 5px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: auto;
}


.right{
    width: 35%;
}
.profile-switch{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin-top: 30px;
}
.profile-switch>div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-switch>div>img{
    border-radius: 50%;
}

a{
    text-decoration: none;
}

.suggestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 10px;
}
.suggestion>div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.suggestion>div>p>span{
    font-size: 12px;
    font-weight: 200;

}
.photo{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}

footer{
    width: 80%;
    margin-top: 20px;
}
footer>span{
    font-weight: 300;
    color: rgba(128, 128, 128, 0.582);
    font-size: 12px;

}



 @media (max-width:1150px) {
    .right{
        display: none;
    }
    .main-post{
        width: 80%;
    }
    .post-section{
        margin: auto;
        width: 70%;
    }
    .stories-section{
        overflow-x: scroll;
        width: 80%;
    }
    .story_post{
        margin: auto;
    }
 }

 @media (max-width:950px) {
    .sidebar{
        display: none;
    }
    .main-post{
        width: 100%;
    }
    #main-scrollable-container{
        width: 100%;
    }
    .stories-section{
        width: 60%;
    }
 }
